<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/unit/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    testdox="false"
    cacheDirectory=".phpunit.cache">
    
    <testsuites>
        <!-- Primary tests -->
        <testsuite name="unit">
            <directory>tests/unit/</directory>
            <exclude>./tests/unit/src/Services/BaseServiceTest.php</exclude>
        </testsuite>
    </testsuites>
    
    <!-- Exclude certain directories/files from code coverage -->
    <source>
        <include>
            <directory suffix=".php">includes/</directory>
        </include>
        <exclude>
            <directory>includes/vendor/</directory>
            <file>includes/PowerBoardPlugin.php</file>
        </exclude>
    </source>
    
    <php>
        <ini name="display_errors" value="On" />
        <ini name="error_reporting" value="E_ALL" />
    </php>
</phpunit>
